{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}





{% block content %}
<img src="{{url_for('static', filename = 'css/img/logo_dini_company.png')}}" class="logo">
    <h1>Arquitetura de Carreiras</h1>
     <h3>Bem vindo(a)!</h3>
    
    <div class = "Resumo">
        
        
        <p><strong>Empresa atual: </strong>{{usuario.empresa_atual}}</p>
        <p><strong>Cargo atual: </strong>{{usuario.cargo_atual}}</p>
        <p><strong>Nome: </strong>{{usuario.nome}}</p>
    </div>
    {% if admin and admin.is_admin %}
    
    
    <a href = "{{url_for('perfil')}}" >Editar perfil </a>
    {% endif %}
</div>
<hr>





<div class = "cards">
    
    
    <h3>Mapeamento Estratégico de Momento</h3>
    
    <div class = "Mapeamento">
            <p><strong>Objetivo: </strong>{{usuario.objetivo}}</p>
            <p><strong>Empresas:</strong> {{usuario.empresa_interesse}}</p>
            <p><strong>Senioridade: </strong>{{usuario.senioridade}}</p>
            <div>
                <hr class = "linha">
            </div>
            {% if admin and admin.is_admin %}
            </div>
           
            <a href="{{url_for('nova_empresa')}}">Nova Empresa</a>
            {% endif %}
        </div>
    
        <h3><strong>Alvo de Movimento Estratégico</strong></h3>
        {% for empresa in empresas %}

        
       
      
        <div class = "card">          
            <a href="{{url_for('empresa_detalhe', empresa_id=empresa.id)}}"><h4>{{empresa.name}}</h4></a>
            
            <div class = "card-metrica">
                {% if admin and admin.is_admin %}
                <a href="{{ url_for('novo_contato', empresa_id=empresa.id) }}">Novo contato</a>
                <a href="{{ url_for('editar_empresa', empresa_id=empresa.id) }}" >Editar empresa</a>
                <a href="{{ url_for('empresa_detalhe', empresa_id=empresa.id) }}">Abrir empresa</a>
                
                {% set acoes = acoes_por_empresa.get(empresa.id, []) %}
                <a href="{{url_for('nova_acao', empresa_id=empresa.id)}}">Nova ação</a>
                
                
                {% if acoes %}
                <a href="{{ url_for('editar_acao', acao_id=acoes[-1].id)}}">Editar ações</a>    
            {% endif %}
            {%endif %}
             
            
            {% if empresa.anotacoes_cliente %}

              
                
                

              
                {% endif %}
                
               
            </div>
           
                
                
                {% set acoes = acoes_por_empresa.get(empresa.id, []) %}
                {% if acoes %}
                
                <ul>
                    {% for acao in acoes %}
                    
                        {% endfor %}
                    </ul>
                    
                    
                    {% endif %}
                    

              
                    {% for contato in empresa.contatos %}
                    
                
                   
                    {% endfor %}
                
           
        </div>
        
        
      
        {% endfor %}
    </div>
    
    {% if admin_view %}
    <a href="{{url_for('admin_sair_cliente')}}">Trocar cliente</a>
    {% endif %}
    <hr>
    
    <a href = "/logout">Sair</a>
    
    {% endblock %}






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































        
        