
{% extends "base.html" %}

{% block title %} Nova empresa {% endblock %}

{% block content %}
    <h1>Cadastrar nova empresa</h1>

    <form method="POST" action="{{ url_for('nova_empresa') }}">
  <input name="nome" placeholder="Nome da empresa">
  <br><br>
  <input name="setor" placeholder="Setor">
  <br><br>
  <input name="senioridade" placeholder="Senioridade" value="{{ usuario.senioridade or '' }}">
  <br><br>
  <input name="cargo_alvo" placeholder="Cargo alvo" value="{{ usuario.cargo_alvo or '' }}">
  <br><br>
  <input name="empresa_interesse" placeholder="Empresas de interesse" value="{{ usuario.empresa_interesse or '' }}">

  <button type="submit">Salvar</button>
  
</form>
<p><a href="{{url_for('dashboard')}}">Voltar</a></p>
{% endblock %}